</main>
<div class="center">
    <form action="/" method="GET">
        <button class="add" type="submit">Home</button>
    </form>
</div>

<footer>Copyright © <%= new Date().getFullYear() %>
</footer>
</body>

</html>